@model IEnumerable<VanPhongPham.Models.OrderDetailViewModel>

<style>
    /* Ẩn mũi tên tăng giảm của input type number */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr>
            <td style="text-align:left"><img src="@item.ImageUrl" alt="" style="width: 50px;"> @item.ProductName</td>
            <td class="align-middle">@item.Price</td>
            <td class="align-middle">
                <div class="input-group quantity mx-auto" style="width: 100px;">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-primary btn-minus">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="number" class="form-control form-control-sm bg-secondary text-center" value="@item.Quantity" min="1" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-primary btn-plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </td>
            <td class="align-middle">@((item.Price * item.Quantity).ToString("N0"))</td>
            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
        </tr>
    }
}