@model List<VanPhongPham.Models.user>
@{
    ViewBag.Title = "Người dùng - Quản Trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (TempData["Msg"] != null)
{
    <div id="flashMessage" class="alert alert-dark-info">
        @TempData["Msg"]
    </div>
}
<div class="card mb-4">
    <h6 class="card-header">Thêm mới người dùng <span><a class="btn btn-primary float-right" href="@Url.Action("RecoverUser")">Người dùng đã xóa</a></span></h6>
    <div class="card-body">
        <form method="post" action="/User/ManageUser" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="UserId">Mã người dùng</label>
                    <input type="text" class="form-control" id="UserId" name="UserId" readonly
                           value="@(ViewBag.user != null ? ViewBag.user.user_id : ViewBag.user_id ?? "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="FullName">Họ tên người dùng</label>
                    <input type="text" class="form-control" id="FullName" name="FullName" required
                           value="@(ViewBag.user != null ? ViewBag.user.full_name : "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="Username">Tên tài khoản</label>
                    <input type="text" class="form-control" id="Username" name="Username" required
                           value="@(ViewBag.user != null ? ViewBag.user.username : "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="Password">Mật khẩu</label>
                    <input type="password" class="form-control" id="Password" name="Password" required
                           value="@(ViewBag.user != null ? ViewBag.user.password : "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" required
                           value="@(ViewBag.user != null ? ViewBag.user.email : "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="Gender">Giới tính</label>
                    <input type="text" class="form-control" id="Gender" name="Gender" required
                           value="@(ViewBag.user != null ? ViewBag.user.gender : "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="dob">Ngày sinh</label>
                    <input type="date" class="form-control" id="dob" name="Dob" required
                           value="@(ViewBag.user != null ? ((DateTime)ViewBag.user.dob).ToString("yyyy-MM-dd") : "")" />
                    <div class="clearfix"></div>
                </div>

                <div class="form-group col-md-3">
                    <label for="AvatarFile">Tải ảnh lên</label>
                    <input type="file" class="form-control" id="AvatarFile" name="AvatarFile" value="@(ViewBag.user != null ? ViewBag.user.avt_url : "")" />
                    @if (!string.IsNullOrEmpty(ViewBag.user?.avt_url))
                    {
                        <div class="mt-2">
                            <p>Ảnh hiện tại:</p>
                            <img src="@ViewBag.user.avt_url" alt="Current Avatar" style="width: 100px; height: auto;" />
                        </div>
                    }
                </div>

            </div>
            <button type="submit" name="action" value="add" class="btn btn-primary">Thêm</button>
            <button type="submit" name="action" value="edit" class="btn btn-primary">Lưu thay đổi</button>
        </form>
    </div>
</div>

<h4 class="font-weight-bold py-3 mb-0">Danh sách người dùng</h4>
<div class="row">
    <div class="navbar-nav my-3 ml-2">
        <!-- Search -->
        <form class="nav-item navbar-text navbar-search-box p-0 active" action="@Url.Action("Index", "User")" method="get">
            <span class="navbar-search-input">
                <input type="text" class="form-control navbar-text mx-2" name="search_str" placeholder="Tìm kiếm..." value="@(ViewBag.searchStr ?? "")">
            </span>
            <button class="btn icon-btn btn-outline-primary" title="Tìm kiếm">
                <i class="feather icon-search navbar-icon align-middle"></i>
            </button>
        </form>
    </div>
</div>
<div class="card">
    <form method="post" action="/User/DeleteUser">
        <table class="table card-table table-responsive-md">
            <thead class="thead-light">
                <tr>
                    <th><input type="checkbox" id="select-all" />Chọn tất cả</th>
                    <th>Mã người dùng</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Ngày sinh</th>
                    <th>Ảnh đại diện</th>
                    <th>Giới tính</th>
                    <th>Tên người dùng</th>
                    @*<th>Địa chỉ</th>*@
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedUsers" value="@user.user_id" />
                        </td>
                        <td>@user.user_id</td>
                        <td>@user.username</td>
                        <td>@user.email</td>
                        @*<td>
                                <ul>
                                    @if (user.addresses != null && user.addresses.Count > 0)
                                    {
                                        foreach (var address in user.addresses)
                                        {
                                            <li>
                                                @address.address_line, @address.ward, @address.district, @address.province <br />
                                                SĐT: @address.phone_number <br />
                                                @if (address.isDefault.HasValue && address.isDefault.Value)
                                                {
                                                    <span style="color: green;">(Mặc định)</span>
                                                }
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>Không có địa chỉ nào.</li>
                                    }
                                </ul>
                            </td>*@
                        <td>@user.dob</td>
                        <td><img src="@user.avt_url" alt="Avatar" style="width: 50px; height: auto;" /></td>
                        <td>@user.gender</td>
                        <td>@user.full_name</td>
                        <td>
                            <a class="btn icon-btn btn-outline-danger" href="@Url.Action("DeleteUser", "User", new { user_id = user.user_id })">
                                <i class="feather icon-user-minus navbar-icon align-middle"></i>
                            </a>
                            <a class="btn icon-btn btn-outline-info ml-2" href="@Url.Action("Index", "User", new { user_id = user.user_id })">
                                <i class="feather icon-user-check navbar-icon align-middle"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-danger mt-3">Xóa hàng loạt</button>
    </form>
</div>

<script>
    document.getElementById("select-all").addEventListener("click", function (e) {
        var checkboxes = document.querySelectorAll("input[name='selectedUsers']");
        checkboxes.forEach((checkbox) => {
            checkbox.checked = e.target.checked;
        });
    });    
    setTimeout(function () {
        var flashMessage = document.getElementById("flashMessage");
        if (flashMessage) {
            flashMessage.style.display = "none";
        }
    }, 3000);
</script>
