@using PagedList.Mvc;
@using PagedList;
@model IPagedList<VanPhongPham.Models.purchase_order_detail>
@{
    ViewBag.Title = "Chi tiết phiếu đặt - Quản Trị";
}
<div class="card mb-4">
    <h6 class="card-header">Chi tiết phiếu đặt</h6>
    <div class="card-body">
        <form method="post" action="">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="">Mã phiếu đặt</label>
                    <input type="text" class="form-control" name="purchase_order_id" readonly
                           value="@(Model[0].purchase_order.purchase_order_id ?? "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="supplier_name">Tên nhà cung cấp</label>
                    <input type="text" class="form-control" name="supplier_name" readonly
                           value="@(Model[0].purchase_order.supplier.supplier_name ?? "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="supplier_name">Tên nhân viên</label>
                    <input type="text" class="form-control" name="employee_id" readonly
                           value="@(Model[0].purchase_order.user.full_name ?? "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="supplier_name">Số lượng hàng hóa</label>
                    <input type="text" class="form-control" name="item_count" readonly
                           value="@(Model[0].purchase_order.item_count)" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="supplier_name">Trạng thái</label>
                    <input type="text" class="form-control" name="status" readonly
                           value="@(Model[0].purchase_order.status ?? "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="supplier_name">Ngày đặt</label>
                    <input type="text" class="form-control" name="created_at" readonly
                           value="@(Model[0].purchase_order.created_at)" />
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <table class="table card-table table-responsive-lg">
        <thead class="thead-light">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng đặt</th>
                <th>Số lượng nhận</th>
                <th>Số lượng còn lại</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.product_id</td>
                    <td>@order.product.product_name</td>
                    <td>@order.price</td>
                    <td>@order.quantity</td>
                    <td>@order.quantity_received</td>
                    <td>@(order.quantity - order.quantity_received)</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <div class="pagination-container">
            @Html.PagedListPager(Model, page => Url.Action("Detail", new { page, Model[0].purchase_order.purchase_order_id }))
        </div>
    </div>
</div>
<a class="btn icon-btn btn-outline-secondary my-3" href="@Url.Action("Index","PurchaseOrder")" title="Quay lại">
    <i class="feather icon-corner-up-left"></i>
</a>