@{
    ViewBag.Title = "Thêm mới sản phẩm - Quản Trị";
}
<div class="card mb-4">
    <h6 class="card-header">Thêm mới sản phẩm</h6>
    <div class="card-body">
        <form method="post" action="@Url.Action("AddProduct", "Product")" id="ProductForm">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="supplier_name">Mã sản phẩm</label>
                    <input type="text" class="form-control" name="product_id" readonly
                           value="@(ViewBag.product_id ?? "")" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="supplier_name">Tên sản phẩm</label>
                    <input type="text" class="form-control" name="product_name" required />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="supplier_name">Giá nhập</label>
                    <input type="number" class="form-control" name="purchase_price"
                           placeholder="Giá nhập sẽ có sau khi đặt hàng từ nhà cung cấp"
                           step="1000" min="1000" max="5000000" />
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="he_so">Hệ số</label>
                    <input type="number" class="form-control" id="he_so" name="price_coefficient" placeholder="Nhập hệ số" step="0.1" min="1" max="2" required />
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="supplier_name">Giá bán</label>
                    <input type="text" class="form-control" name="price" readonly
                           placeholder="Giá bán = Giá nhập * Hệ số" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="supplier_name">Số lượng tồn</label>
                    <input type="number" class="form-control" id="" name="stock_quantity" placeholder="Số lượng tồn sẽ có sau khi đặt hàng từ nhà cung cấp" step="1" min="1" max="2000" />
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="productImage">Hình ảnh sản phẩm</label>
                    <input type="file" class="form-control" name="productImage" accept="image/*" id="productImage" style="display: none;" />
                    <button type="button" id="customProductImageButton" class="btn btn-primary form-control" style="margin-top: 5px;">Chọn ảnh sản phẩm</button>
                    <img id="imagePreview" src="#" alt="Hình ảnh xem trước" style="display: none; margin-top: 10px; max-width: 25%;" />
                    <div id="imageWarning" style="color: red; font-size: 12px; display: none; margin-top: 5px;">Vui lòng chọn hình ảnh sản phẩm!</div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="additionalImages">Các hình ảnh liên quan</label>
                    <input type="file" class="form-control" accept="image/*" id="additionalImages" multiple style="display: none;" />
                    <button type="button" id="customAdditionalImagesButton" class="btn btn-primary form-control" style="margin-top: 5px;">Chọn các hình ảnh liên quan</button>
                    <div id="additionalImagesPreview" style="margin-top: 10px;"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="email">
                        Danh mục
                        <a class="btn icon-btn btn-outline-success ml-2" title="Thêm danh mục" onclick="openCategoryModal()">
                            <i class="feather icon-plus navbar-icon align-middle"></i>
                        </a>
                    </label>
                    <select name="category_id" class="form-control">
                        @foreach (var category in ViewBag.categories)
                        {
                            <option value="@category.category_id">@category.category_name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="attribute_id">
                        Thuộc tính
                        <a class="btn icon-btn btn-outline-success ml-2" title="Thêm thuộc tính" onclick="openAttributeModal()">
                            <i class="feather icon-plus navbar-icon align-middle"></i>
                        </a>
                    </label>
                    <div id="attributeCheckboxes">
                        @foreach (var attribute in ViewBag.attributes)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="attribute_id" value="@attribute.attribute_id" id="attribute_@attribute.attribute_id" onchange="updateAttributeValues()">
                                <label class="form-check-label" for="attribute_@attribute.attribute_id">
                                    @attribute.attribute_name
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="attribute_value_id">
                        Giá trị thuộc tính
                        <a class="btn icon-btn btn-outline-success ml-2" title="Thêm giá trị thuộc tính" onclick="openAttributeValueModalFromCheckbox()">
                            <i class="feather icon-plus navbar-icon align-middle"></i>
                        </a>
                    </label>
                    <div id="attributeValueCheckboxes">
                    </div>
                </div>
                <div class="form-group col-md-3 my-2">
                    <label for="status">Trạng thái hiển thị</label>
                    <select name="status" id="status" class="form-control">
                        <option value="true">Hiển thị phía người dùng</option>
                        <option value="false">Ẩn phía người dùng</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="productDescription">Mô tả sản phẩm</label>
                    <textarea id="productDescription" name="description" class="form-control"></textarea>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button type="submit" name="action" value="add" class="btn btn-primary">Thêm</button>
            <a class="btn icon-btn btn-outline-secondary my-3 ml-2" href="@Url.Action("Index","Product")" title="Quay lại">
                <i class="feather icon-corner-up-left"></i>
            </a>
        </form>
    </div>
</div>

<script>
    var attributeValues = @Html.Raw(Json.Encode(ViewBag.attribute_values)); // Chuyển đổi danh sách sang JSON
</script>
<script src="~/Areas/Admin/Public/assets/js/product.js"></script>
