@model List<VanPhongPham.Models.product>
@{
    ViewBag.Title = "Sản phẩm - Quản Trị";
}

<h4 class="font-weight-bold py-3 mb-0">Danh sách sản phẩm</h4>
<div class="row">

    <div class="navbar-nav my-3 ml-2">
        <!-- Search -->
        <label class="nav-item navbar-text navbar-search-box p-0 active">
            <a href="#"><i class="feather icon-search navbar-icon align-middle"></i></a>
            <span class="navbar-search-input pl-2">
                <input type="text" class="form-control navbar-text mx-2" placeholder="Tìm kiếm...">
            </span>
        </label>
    </div>
    <!-- Search -->
    <a class="btn icon-btn btn-outline-primary my-3 ml-3" href="@Url.Action("AddUser","User")">
        <i class="feather icon-user-plus navbar-icon align-middle"></i>
    </a>
</div>

<div class="card">
    <table class="table card-table table-responsive-lg">
        <thead class="thead-light">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá nhập</th>
                <th>Hệ số</th>
                <th>Giá bán</th>
                <th>Số lượng tồn</th>
                <th>Danh mục</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.product_id</td>
                    <td>@product.product_name</td>
                    <td>@product.purchase_price</td>
                    <td>@product.price_coefficient</td>
                    <td>
                        @if (product.promotion_price != null)
                        {
                            <span style="text-decoration: line-through; color: grey;">@product.price</span><br />
                            <span>@product.promotion_price</span>
                        }
                        else
                        {
                            <span>@product.price</span><br />
                        }
                    </td>
                    <td>@product.stock_quantity</td>
                    <td>
                        <a href="">@product.category.category_name</a>
                    </td>
                    <td>
                        <a class="btn icon-btn btn-outline-danger">
                            <i class="feather icon-user-minus navbar-icon align-middle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

