<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @Html.AntiForgeryToken()

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <!-- Libraries Stylesheet -->
    <link href="~/Public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Public/css/style.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body class="p-0 m-0" style="padding: 0px 0px 0px 0px">
    <input type="hidden" name="__RequestVerificationToken" value="@HttpContext.Current.Request.Cookies["__RequestVerificationToken"]?.Value" />
    <header>
        @Html.Partial("_Header")
    </header>

    <article>
        @RenderBody()
    </article>

    <footer>
        @Html.Partial("_Footer")
    </footer>
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top mb-5"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Public/lib/easing/easing.min.js"></script>
    <script src="~/Public/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Public/mail/jqBootstrapValidation.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Public/js/main.js"></script>
    <script src="~/Public/js/User.js"></script>
    <script src="~/Public/js/Cloudinary.js"></script>
    <script src="~/Public/js/GHN.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const token = localStorage.getItem('token');
            if (!token) {
                if (!sessionStorage.getItem('redirected')) {
                    sessionStorage.setItem('redirected', 'true');
                    logout();
                }
            }
            else
            {
                // Xóa cờ nếu người dùng có token, tránh chuyển hướng không cần thiết
                sessionStorage.removeItem('redirected');
                fetchUserData();
            }

            // Luôn hiển thị lại thông tin người dùng
            displayUserName(); // Cập nhật giao diện người dùng
        });
    </script>
</body>
</html>
